{% extends 'layout/security.html.twig' %}

{% set title = 'Connexion' %}
{% set body_class = 'bg-body' %}

{% block body %}
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-12 col-md-4">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <form method="post">
                            <div class="d-flex align-items-center justify-content-center mb-3">
                                <h1 class="h3">Se connecter</h1>
                            </div>

                            {% if error %}
                                <div class="alert bg-danger text-light"><i class="bi bi-x-circle-fill me-2"></i>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('security_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="name@example.com" autocomplete="email" required autofocus>
                                <label for="inputEmail">Adresse mail</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Mot de passe" autocomplete="current-password" required>
                                <label for="inputPassword">Mot de passe</label>
                            </div>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch" name="_remember_me" id="remember_me" checked>
                                <label class="form-check-label" for="remember_me">Rester connecté(e)</label>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-lg btn-primary" type="submit">
                                    Continuer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
