<div class="d-flex justify-content-center spinner-loading">
    <div class="spinner-grow spinner-grow-sm" role="status">
        <span class="visually-hidden">{{ 'template.loading.load'|trans }}</span>
    </div>
    <div class="spinner-grow spinner-grow-sm" role="status">
        <span class="visually-hidden">{{ 'template.loading.load'|trans }}</span>
    </div>
    <div class="spinner-grow spinner-grow-sm" role="status">
        <span class="visually-hidden">{{ 'template.loading.load'|trans }}</span>
    </div>
</div>